@import "../../../assets/styles/vars.scss";

.bigSection {
    padding: 150px 0;
    text-align: center;
}

.bigText {
    max-width: 804px;
    margin: 0 auto;
    font-size: 72px;
    line-height: calc(107 / 72 * 100%);
    color: $black;
    font-weight: 700;
    text-transform: uppercase;

    span {
        color: $pink;
    }
}
