@import "../../assets/styles/vars.scss";

.crawlSection {
    padding: 10px 0;
    border-top: 2px solid $pink;
    border-bottom: 2px solid $pink;
    display: flex;

    span {
        display: inline-block;
        font-weight: 900;
        font-size: 96px;
        line-height: calc(115 / 96 * 100%);
        -webkit-text-stroke: 3px $pink;
        color: transparent;
        text-transform: uppercase;
        white-space: nowrap;
        // animation: scrollRight 5s infinite linear;
    }

    span + span {
        margin-left: 100px;
    }
}

.crawlSection.left {
    span {
        animation: scrollLeft 20s infinite linear;
        // transform: translateX(393%);
    }
}

@keyframes scrollLeft {
    0% {
        transform: translateX(450%);
    }
    100% {
        transform: translateX(-464%);
    }
}

// @keyframes scrollLeft {
//     0% {
//         transform: translate(200, 0);
//     }
//     100% {
//         transform: translate(-100%, 0);
//     }
// }
