@import "../../assets/styles/vars.scss";
@import "../../assets/styles/global.scss";

.banner {
    &__bg {
        @include image;
    }

    &__inner {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        min-height: 980px;
        z-index: 2;
    }

    &__content {
        max-width: 632px;
        text-align: center;
    }

    &__title {
        font-weight: 900;
        font-size: 72px;
        line-height: calc(86 / 72 * 100%);
        color: $black;
        margin-bottom: 20px;
        text-transform: uppercase;
        span {
            color: $pink;
        }
    }

    &__subtitle {
        max-width: 413px;
        margin: 0 auto;
        font-weight: 500;
        font-size: 36px;
        line-height: calc(43 / 36 * 100%);
        color: $black;
        margin-bottom: 30px;
    }
}
