@import "./vars.scss";

body {
    font-size: 24px;
    font-weight: 500;
    font-family: "Urbanist", sans-serif;
    color: $black;
}

.btn {
    display: inline-block;
    background-color: $pink;
    box-shadow: 4px 4px 10px rgba(125, 116, 160, 0.35);
    border-radius: 25px;
}
